{% load static %}
{% load socialaccount %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-RU-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'main_page/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'main_page/css/login.css' %}">
</head>
<body>
    <div class="content_1">
      <div class="text_center">
        <div class="first_line">
          <img src="{% static 'main_page/img/game_logo.png' %}">
          <h1 class="MT_60_r">SBG</h1>
        </div>
        <h1 class="MT_64_r" id="pilgrim">Pilgrim</h1>
      </div>
    </div>
    <div class="content_2">
      <div class="welcome_text">
        <h5>Добро пожаловать в SBG <span class="MT_28_r">Pilgrim!</span></h5>
        <h5>Присоединившись, вы поможете создать приключения для себя и других, составив карту интересных мест по всему миру.</h5>
      </div>
      <form action="#" method="post">
        {% csrf_token %}
        <div class="login_form">
          <button type="submit" class="h5"><img src="{% static 'main_page/img/tg_logo.png' %}">Войти через Telegram</button>
        </div>
      </form>
      <div class="correction_text ui_center h6_20">
        <h6 class="h6_20">Ваши данные не сохраняются.</h6>
        <h6 class="h6_20">Логин и пароль используются только для получения статистики вашего аккаунта.</h6>
      </div>
    </div>
</body>
</html>